

{{#each favorites}}

    <div class="top">

    </div>

<div class="jumbotron">
  <h4 class="text-center">{{this.title}}</h2>
  {{!-- <p class="lead">{{this.title}}</p> --}}
  <hr class="my-4">
  <div>
    <img src="{{this.img}}" alt="article image">
    <p class="sum"><strong>{{this.sum}}</strong></p>
    
  </div>
  <div class="clrFx">
      <a class="btn btn-primary btn-lg" href="{{this.link}}" role="button" target="_blank">Learn More</a>
      <a id="addFav" class="btn btn-primary btn-lg" data-link="{{this.id}}" href="/favorites" role="button" >Add to Favorites</a>
  </div>
</div>


{{/each}} 