<div class="jumbotron">
   <h2 class="text-center">Welcome to the KSL Scraper</h2>
    <hr class="my-4">
    <h5 class="text-center">Click 'Scrape' in the navigation bar above to start!</h5>
</div>
{{#each headlines}}

<div class="top">

</div>

<div class="jumbotron">
  <h4 class="text-center">{{this.title}}</h2>
    {{!-- <p class="lead">{{this.title}}</p> --}}
    <hr class="my-4">
    <div>
      <img src="{{this.img}}" alt="article image">
      <p class="sum"><strong>{{this.sum}}</strong></p>
    </div>
    <div class="clrFx">
      <a  class="btn btn-primary btn-lg" href="{{this.link}}" role="button" target="_blank">Learn More</a>
      <button id="addFav"  class="btn btn-primary btn-lg addFav" data-title="{{this.title}}" data-img="{{this.img}}" data-sum="{{this.sum}}"  data-id="{{this.id}}" data-link="{{this.link}}" role="button">Add to
        Favorites</button>
    </div>
</div>


{{/each}}